# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-3%aa&h*cgn80n(ywxj8wn**c+_qdxj44$%w0eq3lne*_(@_y8v
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# Set USE_SQLITE=True to test locally without PostgreSQL
USE_SQLITE=True
DB_NAME=healthnova
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
